<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>hobbies</title>
    <nav>
        <a href="/">Home</a>
        <a href="/education">My education</a>
        <a href="/work">Work experience</a>
        <a href="/superpowers">My superpowers</a>
    </nav>
</head>
<body>
<section>
    <div>
        <span>
            <br>
            <br>
            <ul>
        <li class="font_family">Sew toys</li>
        <li class="font_family">Can do splits</li>
        <li class="font_family">Can read three books at one time</li>
            </ul>
        </span>
    </div>
</section>
</body>
</html>