<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>WorkExperience</title>
    <nav>
        <a href="/">Home</a>
        <a href="/education">My education</a>
        <a href="/work">Work experience</a>
        <a href="/superpowers">My superpowers</a>
    </nav>
</head>
<body>
<section>
    <div class="font_family"><p>Previously have worked as a sales and marketing manager at translation's agency, the at
        a hotel.
        <br> Now working as a personal assistant to a CEO</p></div>
</section>
</body>
</html>